/* BLOG SECTION
-------------------------------------------------- */

.blog-sec {
	visibility: hidden;
	background: white;
}
.blog-sec.visi {
	visibility: visible;
}

.blog-sec .blog-box {
	text-align: center;
}
.blog-sec .heading {
	width: 100%;
	margin-bottom: 70px;
}
.blog-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: #0297FF;
	font-size: 32px;
}
.blog-sec h2 small {
	color: #333;
	display: block;
	font-size: 22px;
	padding-top: 18px;
	margin-bottom: 18px;
}
.blog-sec h3 small {
	text-align: center;
	display: block;
	color: #0297FF;
	margin-bottom: 15px;
}
.blog-sec h3 a {
	text-align: center;
	color: #333;
	font-size: 22px;
	margin-bottom: 20px;
}
.blog-sec h3 a:hover {
	color: #0297FF;
	text-decoration: none;
}
.blog-sec .blog-image-block {
	float: left;
	height: 100px;
	width: 100px;
}
.blog-sec .blog-image-block img {
	border-radius: 5px;
}

.blog-sec button{
	padding: 10px 40px;
    color: #333;
    background-color: transparent;
    border-color: #333;
    outline: none;
    margin: 20px auto;
}

.blog-sec button:hover{
	color: white;
    background-color: black;
    border-color: black;
    outline: none;
    margin: 20px auto;
}

.blog-sec p {
	padding-top: 20px;
	color: #333;
}

/* MORE */
.fluid-img {
	width: 100%;
	display: block;
}