/*
WE WILL ADD OVERRIDE-BS TO OVERRIDE THE BOOTSTRAP CSS CONFIGS
*/

/*************Universal*******************/

::-moz-selection { /* Code for Firefox */
    color: #BFC9CA;
    background: #273746;
}
::selection {
    color: #BFC9CA;
    background: #273746;
}
img {
   width: 100%;
   height: auto;

}

.centre {
   display: flex;
   align-items: center;
   justify-content: center;
}

@media print {
    footer {page-break-after: always;}
}

.feature-content {
   padding: 2rem;
   overflow: hidden;
  margin: 5% 0;
   padding: 2rem;
   color: white;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.colorC{
  background:#334a9f;
  border-color: white;
}
.feature-caption {
   padding: 1rem;
   overflow: hidden;
   /*background: rgba(0,0,0,0.6);*/
   color: white;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blue-apart{ /*  use with container and heading */
  content:"";
	position: relative;
	width:100%;
	height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#35CBDF;
  top: 0px;
	bottom: 0px;
	border-radius: 10px;
  margin-bottom: 0px;
}

.gray-apart{  /*  use with container and heading */
  content:"";
	position: relative;
	width:90%;
	height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#AAB7B8;
  top: 0px;
	bottom: 0px;
	border-radius: 10px;
  margin-bottom: 0px;
}
/********************************************/

/*******About Us**************************/



#about .head-box h2 { color: #434e5b; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px}
#about .head-box h2:before{ background:black;content: ""; height: 2px; left: 17px; margin-top: 40px; position: absolute; width: 110px; left: 50%;
margin-left: -55px;}
#about .head-box h2 small { float: left; margin-top: 26px;width: 100%; margin-bottom: 8px;} 


.about-sec p{
  color:#444746;
  margin-left: 110px;
  margin-right: 110px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  word-spacing: 0.15rem;
  line-height:  140%;
  
}

/*****************************************/


/**********Why Cross Border**********************/
#why_cb{
  padding: 5rem;
  
}

/*****************************************/

/**********Services**********************/
#services{
  margin-bottom: 50px;
  margin-top: 100px;
}
.service-sec {
  background-color: #eee;
}



.blue-line {  /*  use with container and heading */
  content:"";
	position: relative;
	width:5%;
	height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#333;
	bottom: -5px;

}

#serv1 a, #serv2 a, #serv3 a{
  color:#23442E;
}
#services .head-box h2 { color: #434e5b; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px}
#services .head-box h2:before{ background:black;content: ""; height: 2px; left: 17px; margin-top: 40px; position: absolute; width: 110px; left: 50%;
margin-left: -55px;}
#services .head-box h2 small { float: left; margin-top: 26px;width: 100%; margin-bottom: 8px;} 

/*--- three Block Panel ---*/

/**** icon box************/
i.box-circle-solid{
	background-color:#0297FF;
	border-radius: 50%;
  color: #fff;
  font-size: 22px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}

i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
i {
  color: #333;
}
/*********************/

/***** Service thumbs Hover Effect *************/
.service-block-overlay{
  border-color: #333;
  color: #333;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
.service-block-overlay:hover{
	background: #fff none repeat scroll 0 0;
  background-color: #eee;
  color: #333;
  border: 2px solid #333;
  float: left;
  margin-top: -10px;
  position: relative;
  height: 100%
  width: 100%;
	transition: 0.5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
/*******************************************/
/******Independent page*****************/

/**********Side Menu***********************/
#heads{
  
  background: url(../images/chain-link6.jpg);
  .background-repeat: no-repeat;
  .background-size: 100% 100%;
  .background: rgba(0,0,0,0.042);
  .padding-top: 0px;
  padding:0px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 5px;
}

.page-heading{
  color: #ECF0F1;
  font-size: 3rem;
  .margin-top: 3rem;
  .margin-bottom: 3rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  .padding: 1rem;
  background: rgba(0,0,0,0.7);
  .border-radius: 5px;
  
}

.serv-tag-name{
  font-size:90%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.serv-tag-name a:hover{
  text-decoration:none ;
  color: #D5DBDB;
  font-size: 104%;
  transition: 0.1s;
}


.serv-tag-icon{
  cursor: s-resize;
  font-size: 30px;
  color:#2471A3;
  .border: dotted 2px;
  border-spacing: 4px;
  border-width: thin;
  border-radius: 5px;
}
.serv-sub-tag{
  width:100% ;
  text-align: center;
  background:rgba(189, 195, 199,0.7) ;
  margin:0px;
  padding:6px;
}
.collapse a:hover{
  text-decoration: none;
  color:rgba(0,0,0,0.9);
  
}

.serv-sub-tag:hover{
  font-size: 1.08rem;
  background: rgba(52, 152, 219, 0.9);
  transition: 0.1s;
  
}

.serv-tag-box {   /* specs of serv-tag side-menu boxes */
  color: #ECF0F1;
  padding:1rem;
  .padding: 2.15rem 0rem;
  margin-bottom: 0px;
  background-color: rgba(40, 55, 71, 0.99);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.serv-content{
  margin: 5px;
  border-style: solid;
  border-color: #18AFBC #18AFBC #0A66A9 #307EC3;
  border-width: 0px 0px 0px 5px;
  background-color: #ACD7F7;
}



.info-section{
	.float: left;
	width:100%;
	padding:1px 0;
	position: relative;
	z-index: 1;
}

.space{
  	height: 2rem;
}

/**********Side Content**************************/
.container-fluid#content{
  background:url(../images/buildings5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  .background: rgba(0,0,0,0.042);
  .padding-top: 0px;
  padding:0px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 5px;
  
}

.side-content{
  background: rgba(0,0,0,0.8);
  .width:100%;
  height: 100%;
  
  color: #ECF0F1;
  .font-size: 3rem;
  .margin-top: 3rem;
  .margin-bottom: 3rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  .padding: 1rem;
  .background: rgba(0,0,0,0.7);
  border-radius: 5px;
}

.side-content-content{
  padding-left: 2rem;
  padding-right: 2rem;
  color: antiquewhite;
}

/***************end**************************/

/********* QUOTE ***********************/

#feature-five {
   .padding: 100px;
   background-color: #eee;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;

}

#quote {
   .border-radius: 100px;
   background: #eee;
   text-align: center;
}
.quote-content{
  color: #333;
  padding-left: 20%;
  padding-right: 2%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  min-height:200px;
}

/***************************************/
